{% extends 'blog/base_.html' %}

{% block content %}
<h1>{{title}}</h1>
<p>
Наш IT-блог – це платформа для тих, хто цікавиться інформаційними технологіями. Тут ви знайдете новини, статті, аналітику та інструкції з програмування, 
кібербезпеки, штучного інтелекту та інших сучасних технологій. Головна сторінка пропонує свіжі публікації, розподілені по категоріях: 
Програмування, Кібербезпека, Штучний інтелект, Гаджети та апаратне забезпечення, Технологічні тренди.
</p>

<p>
Кожна стаття має детальну сторінку з повним текстом, категорією, датою публікації та зображенням. 
Ми активно взаємодіємо з читачами через коментарі та соціальні мережі, такі як Facebook, Twitter та LinkedIn. 
Сайт має сучасний дизайн з темною темою, що забезпечує комфортне читання на будь-яких пристроях.
</p>

<p>
Ласкаво просимо до нашого IT-блогу – вашого гіда у світі технологій!
</p>
{% endblock %}